<footer>
    <div class="footer clearfix mb-0 text-muted">
        <div class="float-start"></div>
        <div class="float-end">
            <p>2025 &copy; VOTAGERS</p>
        </div>
    </div>
</footer>